body {
    font-family: 'Arbutus Slab';
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.main {
    width: 300px;
    height: 500px;
    background-color: dimgray;
    padding-top: 50px;
    position: relative;

    transform: translateX(-91%);
    transition-duration: 1000ms;
}

.main:hover {
    transform: translateX(0%);
    transition-duration: 1000ms;
}

.main-link::before {
    display: block;
    content: '';
    width: 15px;
    height: 15px;
    background-color: darkorange;
    border: solid black;
    transform: rotate(-45deg);
    margin-right: 13px;
}

.main-link {
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;

    transition-duration: 1000ms;
}

.main-link:hover {
    color: darkorange;

    transition-duration: 1000ms;
}

.main-item {
    margin-bottom: 25px;
}

.main-title {
    color: white;
    font-size: 20px;
    width: 100%;
    transform: rotate(-90deg);
    position: absolute;
    left: 135px;
    bottom: 300px;

    transition-duration: 1500ms;
}

.main:hover .main-title {
    color: dimgray;

    transition-duration: 1500ms;
}

